<div class="row align-items-center" [class.bg-info]="isSelected()" [class.text-light]="isSelected()">
  <div class="col-2">
    <img class="img-fluid my-auto" src="{{ thread.avatarSrc }}" />
  </div>
  <div class="col">
    {{ thread.name }}<br>
    <span class="small">ID: {{ thread.id }}</span><br>
    <span class="small">Count: {{ thread.messages.length }}</span><br>
  </div>
  <div *ngIf="!isSelected()" class="col-2">
    <button class="btn btn-success col-12" (click)="onSelectThreadClicked($event)">Select</button>
  </div>
</div>